*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    max-width: 100%;
    min-height: 185vh;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    position: relative;
    text-align: center;
}


.main-1{
    background-color: rgba(98, 134, 130, 0.473);
    max-width: 70%;
    min-height: 150vh;
    margin: auto;
    position: relative;


}
#title{
    background-color:rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.808);
    padding: 20px;
    position: relative;
    top: 25px;
}

#description{
    position:relative;
    top: 40px;
    color:rgba(0, 0, 0, 0.904);

}
.form-div{
    text-align: left;
    padding: 40px;
    font-weight:lighter;
    font-size: large;
}
#name{
    background-color: inherit;
    width: 80%;
    height: 45px;
    font-size: 20px;
    color: cornsilk;
}
#email{
    background-color: inherit;
    width: 80%;
    height: 45px;
    font-size: 20px;
}
#number{
    background-color: inherit;
    width: 80%;
    height: 45px;
    font-size: 20px;
}
#vaccine-name{
    background-color: inherit;
    width: 80%;
    height: 45px;
    font-size: 20px;
}
#comments{
    background-color: inherit;
}
#submit{
    background-color: inherit;
    width: 80%;
    padding: 25px;
    font-size: large;
    border-style: groove;
    margin-left: 80px;
    
}
#name-label{
    color:#000000ec;
    font-size: 25px;
}
#email-label{
    color:#000000f3;
    font-size: 25px;
}
#number-label{
    color:#000000ee;
    font-size: 25px;
}
#dropdown-label{
    color:#000000ef;
    font-size: 25px;
}
#radio-button-1{
    color:#000000ef;
    font-size: 25px;
}
#radio-button-2{
    color:#000000f1;
    font-size: 25px;
}
#radio-button-3{
    color:#000000f1;
    font-size: 25px;
}
#radio-button-4{
    color:#000000ef;
    font-size: 25px;
}
#radio-button-5{
    color:#000000f1;
    font-size: 25px;
}
#checkbox-1{
    color:#000000f1;
    font-size: 25px;
}
#checkbox-2{
    color:#000000f3;
    font-size: 25px;
}
#checkbox-3{
    color:#000000f1;
    font-size: 25px;
}
#checkbox-4{
    color:#000000ee;
    font-size: 25px;
}
#textarea{
    color: rgba(0, 0, 0, 0.938);
    font-size: large;
    
}
#comments{
    font-size: large;
}

@media(max-width: 700px){
    .main{
        background-size:contain;
        min-height: 100vh;
        
    }
    .main-1{
        min-height: 50vh;
        position: relative;
        bottom: 10px;
        padding: 20px;
    
    }
    .form-div{
        font-size:small;
        position: relative;
        bottom: 40px;
        right: 40px;
    }
    #name-label{
        color:#000000ec;
        font-size:small
    }
    #email-label{
        color:#000000f3;
        font-size:small;
        position: relative;
        bottom: 20px;
    }
    #number-label{
        color:#000000ee;
        font-size:small;
        position: relative;
        bottom: 40px;
    }
    #dropdown-label{
        color:#000000ef;
        font-size:small;
        position: relative;
        bottom: 50px;
    }
    #radio-button-1{
        color:#000000ef;
        font-size:small;
        position: relative;
        bottom: 70px;
    }
    #radio-button-2{
        color:#000000f1;
        font-size:small;
        position: relative;
        bottom: 70px;
    }
    #radio-button-3{
        color:#000000f1;
        font-size: 0px;
        position: relative;
        bottom: 70px;
    }
    #radio-button-4{
        color:#000000ef;
        font-size:small;
        position: relative;
        bottom: 80px;
    }
    #radio-button-5{
        color:#000000f1;
        font-size:small;
        position: relative;
        bottom: 80px;
    }
    #checkbox-1{
        color:#000000f1;
        font-size:small;
        position: relative;
        bottom: 90px;
    }
    #checkbox-2{
        color:#000000f3;
        font-size:small;
        position: relative;
        bottom: 90px;
    }
    #checkbox-3{
        color:#000000f1;
        font-size:small;
        position: relative;
        bottom: 90px;
    }
    #checkbox-4{
        color:#000000ee;
        font-size:small;
        position: relative;
        bottom: 90px;
    }
    #textarea{
        color: rgba(0, 0, 0, 0.938);
        font-size:small;
        position: relative;
        bottom: 100px;
        
    }
    #comments{
        font-size:small;
    }
    #name{
        font-size:small;
        height: 20px;
        position: relative;
        bottom: 10px;

        
    }
    #email{
        font-size:small;
        height: 20px;
        position: relative;
        bottom: 10px;
    }
    #number{
        font-size:small;
        height: 20px;
        position: relative;
        bottom: 10px;
    }

    #others{
        position: relative;
        right: 1000px;
    }
    #vaccine-name{
        font-size:small;
        height: 20px;
        position: relative;
        bottom: 10px;
    }
    
    #comments{
        background-color: inherit;
        width: 80%;
        min-height: 100px;
    }

    #title{
        position: relative;
        font-size:10px;
        font-weight: normal;
        top: 10px;
        margin-right: -20px;
        margin-left: -20px;

    }
    
    #description{
        position:relative;
        font-size: 13px;
        font-weight:normal;
        color: black;
    
    }
    #submit{
        background-color: inherit;
        padding: 10px;
        font-size:medium;
        border-style: groove;
        position:absolute;
        bottom: 70px;
        right:30px;
        color: rgba(255, 255, 255, 0.562);
        margin-right: -25px;
        

        
       
        
    }

}
